vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|07 Jan 2008 03:34:54 -0000
vti_extenderversion:SR|12.0.0.6500
vti_author:SR|MEDFORD\\dsoll
vti_modifiedby:SR|MEDFORD\\dsoll
vti_timecreated:TR|07 Jan 2008 03:34:54 -0000
vti_cacheddtm:TX|07 Jan 2008 03:34:54 -0000
vti_filesize:IR|3926
vti_cachedlinkinfo:VX|S|img/bodybg.jpg S|img/menuhover.jpg S|img/menuhover.jpg S|img/footerbg.jpg
vti_cachedsvcrellinks:VX|FSUS|tcfpro/img/bodybg.jpg FSUS|tcfpro/img/menuhover.jpg FSUS|tcfpro/img/menuhover.jpg FSUS|tcfpro/img/footerbg.jpg
vti_backlinkinfo:VX|tcfpro/index.html tcfpro/../2010 tcfpro/../2011 tcfpro/../2012 tcfpro/speaker.html tcfpro/index.2016.pre.html tcfpro/cfs.html tcfpro/../2009 tcfpro/register.html tcfpro/../2016 tcfpro/../2017 tcfpro/../2018 tcfpro/../2019 tcfpro/../2006 tcfpro/../2007 tcfpro/../2008 tcfpro/../2013 tcfpro/under\\ construction.html tcfpro/../2014 tcfpro/../2015
